<div class="main">
	<div class="inner">
		<div class="row">
			<div class="col-lg-8 col-sm-7 col-xs-12 main__img mob-none">
				<div class="steps__text">LÅNA FRÅN 5.000 KR TILL 400.000 KR UTAN SÄKERHET!</div>
				<div class="image">					
					<div class="sticker">Vi jämför de bästa konsumentlånen</div>
					<img src="img/main-img.jpg" alt="">
				</div>
				<div class="main__text">
					<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id.</h4>
					<ul>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet.</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quia pariatur recusandae neque. Provident ex, modi molestiae suscipit doloremque reprehenderit commodi doloribus, amet quia autem ratione architecto consectetur rem veritatis ipsa cupiditate laboriosam illo dolorum illum aliquid. Similique repellat exercitationem nisi eligendi veritatis maiores aut magnam facilis ad et voluptas consectetur, labore. Eum, excepturi, numquam! Dolore numquam dolor amet, nam neque soluta! Quas consequatur dolorem optio non natus et facere modi neque laudantium quo atque ipsa adipisci id quasi dolorum nemo distinctio asperiores omnis, minus possimus veritatis suscipit quos voluptatibus amet! Laborum incidunt deleniti, mollitia totam alias unde reiciendis! Repellat.</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-5 col-xs-12 col-form">
				<div class="col-form__top">
					<ul class="steps__list mob-none">
						<li class="is-active">1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<div class="steps__title">FYLL I EN ANSÖKAN</div>
				</div>				
				<div class="form">
					<form>
						<div class="form-group">
							<label for="email">E-postadress *</label>
							<input type="email" class="form-control" id="email">
						</div>
						<div class="form-group">
							<label for="number">Mobilnummer*</label>
							<input type="text" class="form-control" id="number">
						</div>
						<div class="form-ranges">
							<div class="form-range">
								<span class="form-range__label">Jeg vill lånå 45,000 kr</span>
								<div class="range js-range-parent">
									<input class="js-range" type="text" data-slider-min="1" data-slider-max="400" data-slider-step="1" data-slider-value="140" data-text=",000 kr"/>
									<span class="range__min js-range-min" data-value="1">1,000 kr</span>
									<span class="range__max js-range-max" data-value="400">400,000 kr</span>
								</div>
							</div>
							<div class="form-range">
								<span class="form-range__label">Med en återbetalningstid på 7 år</span>
								<div class="range js-range-parent">
									<input class="js-range" type="text" data-slider-min="1" data-slider-max="15" data-slider-step="1" data-slider-value="7" data-text=" år"/>
									<span class="range__min js-range-min" data-value="1">1 år</span>
									<span class="range__max js-range-max" data-value="15">15 år</span>
								</div>
							</div>
						</div>		
						<div class="form-result">
							<span>Månadskostnad *</span>
							<span class="is-price">4,400 <small>kr</small></span>
						</div>	
						<div class="form-agree">
							<label class="radio-btn">
								<input type="checkbox"> 
								<span></span>
							</label>
							<div class="form-text">
								<p>Grundkrav för att ansöka: Minst 18 år Inga obetalda skulder hos kronofogden Årsinkomst minst 100.000 kr</p>
								<p><a href="#">* Skall fyllas i</a></p>
							</div>
						</div>	
						<button type="submit" class="btn">ANSÖK OM LÅN</button>
					</form>				
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="information">
	<h3>FRÅGOR OCH SVAR</h3>
	<div class="information__text">
		<h4>INNEBÄR DET NÅGRA RISKER FÖR MIG ATT LÅNA PENGAR VIA VITAFINANS?</h4>
		<p>Nej. När vi behandlar din ansökan är det viktigt för oss att dina personuppgifter 
		är säkra samt att dina rättigheter tillgodoses.</p>
	</div>
	<div class="information__text">
		<h4>HUR MYCKET KAN JAG LÅNA?</h4>
		<p>Du kan låna mellan 5 000 och 400 000 kronor.</p>
	</div>
	<div class="information__text">
		<h4>VILKEN RÄNTA ÄR DET PÅ LÅNET?</h4>
		<p>Efter att din ansökan är mottagen görs en individuell kreditvärdering, 
		där din ränta och lånebelopp fastställs.</p>
	</div>
	<div class="information__text">
		<h4>HUR LÅNG TID LÖPER LÅNET?</h4>
		<p>Du bestämmer själv löptiden på ditt lån, så länge den är mellan 1 och 15 år.</p>
	</div>
	<div class="information__text">
		<h4>BEHÖVER JAG EN SÄKEHET FÖR LÅNET?</h4>
		<p>Nej, det behöver du inte. Vi blandar oss inte i vad du ska använda pengarna till.</p>
	</div>
	<div class="information__text">
		<h4>HUR ANSÖKER JAG OM ATT FÅ ETT LÅN VIA VITAFINANS?</h4>
		<p>Du fyller i formuläret på förstasidan, varefter Vitafinans vidarebefordrar din 
		ansökan till en oberoende låneförmedlare som gör en kreditvärdering.</p>
		<p>Låneförmedlaren samarbetar med ett 20-tal olika långivare.</p>
	</div>
	<div class="information__text">
		<h4>HUR FÅR JAG LÅNET UTBETALT?</h4>
		<p>Vid en beviljad låneansökan överförs pengarna till ditt konto efter det att 
		underskrivet låneavtal har returnerats. Detta tar vanligtvis mellan 1-5 bankdagar.</p> 
		<p>Utbetalningen kan gå snabbare om långivaren som beviljat dig lånet medger digital signering av låneavtalet. Då kan utbetalning ibland ske samma dag som lånet beviljats.</p>
	</div>
	<div class="information__text">
		<h4>HUR LÅNG TID TAR DET INNAN JAG HAR PENGARNA PÅ MITT KONTO?</h4>
		<p>Du får pengarna på ditt konto vanligtvis mellan 1-5 bankdagar från din 
		låneansökan har beviljats.</p>
	</div>
	<div class="information__text">
		<h4>NÄR FÅR JAG SVAR PÅ MIN ANSÖKAN?</h4>
		<p>Du får svar på din ansökan inom 1 arbetsdag.</p>
	</div>
	<div class="information__text">
		<h4>HUR FÅR JAG SVAR PÅ MIN ANSÖKAN?</h4>
		<p>Du får ett svar på din ansökan via e-post eller telefon.</p>
	</div>
</div>
<div class="steps">
	<div class="steps__container">
		<div class="row">
			<div class="col-lg-4 col-xs-12 col-md-4 box">
				<span class="box__title">Låna enkelt online</span>
				<span class="box__icon is-pencil"><span>1</span></span>
				<p><b>Hur mycket ska du låna?</b></p>
				<p>Fyll i önskat lånebelopp samt dina uppgifter</p>
			</div>
			<div class="col-lg-4 col-xs-12 col-md-4 box">
				<span class="box__title">Låna säkert och snabbt</span>
				<span class="box__icon is-zoom"><span>2</span></span>
				<p><b>Välj det bästa lånet</b></p>
				<p>Vi hittar det bästa och billiagste lånet bland över 20 långivare, som passar till just dina behov</p>
			</div>
			<div class="col-lg-4 col-xs-12 col-md-4 box">
				<span class="box__title">Pengarna utbetalas direkt</span>
				<span class="box__icon is-card"><span>3</span></span>
				<p><b>Pengarna på ditt konto</b></p>
				<p>När ditt lån blir godkänt betalas pengarna ut direkt till ditt konto. Oftast redan inom 3 dagar!</p>
			</div>
		</div>
	</div>
</div>
<div class="bottom mob-none">
	<div class="bottom__container">
		<span class="bottom__title">läsa vad folk säger om oss</span>
		<div class="row">
			<div class="col-lg-8 col-md-7 col-xs-12">
				<div class="info">
					<div class="info__img">
						<img src="img/info.png" alt="">
					</div>
					<div class="info__block">
						<h4 class="info__name">Ronny Anderson</h4>
						<span>Ekonomi Chief</span>
						<div class="info__text">
							<p>Hos VitaFinans har vi gjort det enkelt och smidigt för dig att låna pengar till precis det du behöver. Vi jämför de bästa konsumentlånen och hittar de bästa möjligheterna för dig!</p>
							<p>Ett konsumentlån ger dig möjlighet att uppfylla dina drömmar utan väntetid, på ett enkelt och säkert sätt. Pengarna kan användas till resor, en ny bil eller helt enkelt till det du behöver.</p>
						</div>
						<a href="#" class="info__logo">
							<img src="img/info-logo.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-xs-12">
				<div class="comments">
					<div class="post">
						<div class="post__img">
							<img src="http://placecage.com/100/100" alt="">
						</div>
						<div class="post__block">
							<h4 class="post__name">Lorem ipsum.</h4>
							<small>Lorem ipsum.</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, a.</p>
						</div>
					</div>
					<div class="post">
						<div class="post__img">
							<img src="http://placecage.com/100/100" alt="">
						</div>
						<div class="post__block">
							<h4 class="post__name">Lorem ipsum.</h4>
							<small>Lorem ipsum.</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, a.</p>
						</div>
					</div>
					<div class="post">
						<div class="post__img">
							<img src="http://placecage.com/100/100" alt="">
						</div>
						<div class="post__block">
							<h4 class="post__name">Lorem ipsum.</h4>
							<small>Lorem ipsum.</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, a.</p>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<!-- begin footer  -->
<footer class="footer mob-none">
	<div class="footer__inner">
		<nav class="nav">
			<ul>
				<li><a href="#">Ansôk om lån</a></li>
				<li><a href="#">Information</a></li>
			</ul>
		</nav>
		<div class="footer__copy">VitaFinans © 2015. VitaFinans all rights reserved.</div>
	</div>
</footer>
<!-- end footer -->